html, body {
    height: 100%;
}

#root {
    height: calc(100% - 70px);
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.container {
    display: flex;
    height: 100%;
}

.page-content {
    padding: 2rem 4rem;
    flex: 5;
    overflow: auto;
}
