.banner-row {
    display: flex;
    gap: 30px;
    flex-wrap: wrap;
    margin-bottom: 4rem;
}

.banner-row:last-child {
    margin-bottom: 1rem;
}

.banner-text, .banner-image {
    flex: 1;
    min-width: 300px;
}

.save-button {
    max-width: 300px;
    margin-right: auto;
    margin-left: auto;
    justify-self: center;
    margin-top: 2em;
    text-align: center;
}

.new-banner-button {
    max-width: 100px;
    margin: auto;
}

.banner-header {
    margin-bottom: 0.5rem;
    display: flex;
    align-items: center;
    gap: 2rem;
}

.banner-remove {
    color: #ff4848;
    cursor: pointer;
    font-weight: bold;
}