.banner-row {
    display: flex;
    gap: 30px;
    flex-wrap: wrap;
}

.banner-text, .banner-image {
    flex: 1;
    min-width: 300px;
}

.save-button {
    max-width: 300px;
    margin-right: auto;
    margin-left: auto;
    justify-self: center;
    margin-top: 2em;
    text-align: center;
}